/* body{
    margin: 0;
    padding: 0;
    
    font-family: "Lucida Console", "Courier New", monospace;
      

    background-color: #ffe7eb;

}

.article-header{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ff7b7b;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-in-out;
    align-items: center;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

.article-header:hover{
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-in-out;
    color: #920013;
}

.article-header h1{
    font-size: 30px;
    font-weight: 700;
    color: #013c63;
}
 
.section-content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.Add-emp{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #630b0b;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-in-out;
    align-items: center;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    
}
.Add-emp:hover{
    background-color: #b90047;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-in-out;
    color: #ecf1f3;
} */